USE [master]
GO
/****** Object:  Database [LaptopShop]    Script Date: 06.01.2024 17:51:42 ******/
CREATE DATABASE [LaptopShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaptopShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LaptopShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaptopShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LaptopShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaptopShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaptopShop]
GO
/****** Object:  Table [dbo].[checks]    Script Date: 06.01.2024 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[checks](
	[check_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_id] [int] NOT NULL,
	[laptop_id] [int] NOT NULL,
	[num_laptops] [int] NOT NULL,
	[sum_paid] [decimal](10, 2) NOT NULL,
	[sum_without_discount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[check_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 06.01.2024 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[email] [varchar](60) NOT NULL,
	[surname] [nvarchar](30) NOT NULL,
	[first_name] [nvarchar](30) NOT NULL,
	[num_bonuses] [int] NOT NULL,
	[phone_number] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[displays]    Script Date: 06.01.2024 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[displays](
	[display_id] [int] IDENTITY(1,1) NOT NULL,
	[matte] [bit] NULL,
	[technology] [varchar](20) NOT NULL,
	[resolution] [varchar](10) NOT NULL,
	[size] [varchar](6) NOT NULL,
	[format_] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[display_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[laptops]    Script Date: 06.01.2024 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[laptops](
	[laptop_id] [int] IDENTITY(1,1) NOT NULL,
	[model] [varchar](30) NOT NULL,
	[producer] [varchar](40) NOT NULL,
	[processor] [varchar](200) NOT NULL,
	[ram] [int] NOT NULL,
	[color] [varchar](15) NOT NULL,
	[hard_disk_cap] [varchar](10) NOT NULL,
	[size] [varchar](15) NOT NULL,
	[wt] [real] NOT NULL,
	[video_card] [varchar](40) NOT NULL,
	[features] [nvarchar](100) NULL,
	[display_id] [int] NOT NULL,
	[manufacturer_warranty] [int] NOT NULL,
	[num_available] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[laptop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 06.01.2024 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[sale_id] [int] IDENTITY(1,1) NOT NULL,
	[date_] [datetime] NOT NULL,
	[worker_id] [int] NULL,
	[email] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[workers]    Script Date: 06.01.2024 17:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workers](
	[worker_id] [int] IDENTITY(1,1) NOT NULL,
	[surname] [nvarchar](30) NOT NULL,
	[first_name] [nvarchar](30) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone_number] [varchar](15) NOT NULL,
	[admin] [bit] NULL,
	[password] [varchar](8) NOT NULL,
	[login] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[worker_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[checks] ON 

INSERT [dbo].[checks] ([check_id], [sale_id], [laptop_id], [num_laptops], [sum_paid], [sum_without_discount]) VALUES (88, 93, 8, 2, CAST(1699.98 AS Decimal(10, 2)), CAST(1999.98 AS Decimal(10, 2)))
INSERT [dbo].[checks] ([check_id], [sale_id], [laptop_id], [num_laptops], [sum_paid], [sum_without_discount]) VALUES (89, 96, 3, 4, CAST(1899.99 AS Decimal(10, 2)), CAST(7599.96 AS Decimal(10, 2)))
INSERT [dbo].[checks] ([check_id], [sale_id], [laptop_id], [num_laptops], [sum_paid], [sum_without_discount]) VALUES (90, 98, 7, 4, CAST(5599.96 AS Decimal(10, 2)), CAST(5599.96 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[checks] OFF
GO
INSERT [dbo].[clients] ([email], [surname], [first_name], [num_bonuses], [phone_number]) VALUES (N'gg@klo.vom', N'Рущак', N'Георгій', 0, N'0987534323')
INSERT [dbo].[clients] ([email], [surname], [first_name], [num_bonuses], [phone_number]) VALUES (N'hokko@gmail.com', N'Коваль', N'Холим', 2, N'+380675430070')
INSERT [dbo].[clients] ([email], [surname], [first_name], [num_bonuses], [phone_number]) VALUES (N'kk', N'Зибіна', N'Катерина', 0, N'090878765')
GO
SET IDENTITY_INSERT [dbo].[displays] ON 

INSERT [dbo].[displays] ([display_id], [matte], [technology], [resolution], [size], [format_]) VALUES (1, 0, N'LCD', N'1920x1080', N'15.6"', N'16:9')
INSERT [dbo].[displays] ([display_id], [matte], [technology], [resolution], [size], [format_]) VALUES (2, 1, N'OLED', N'2560x1600', N'14.0"', N'4:3')
INSERT [dbo].[displays] ([display_id], [matte], [technology], [resolution], [size], [format_]) VALUES (3, 1, N'LCD', N'1920x1080', N'15.6"', N'16:9')
SET IDENTITY_INSERT [dbo].[displays] OFF
GO
SET IDENTITY_INSERT [dbo].[laptops] ON 

INSERT [dbo].[laptops] ([laptop_id], [model], [producer], [processor], [ram], [color], [hard_disk_cap], [size], [wt], [video_card], [features], [display_id], [manufacturer_warranty], [num_available], [price]) VALUES (1, N'Vivobook S 15 OLED', N'AsusTek Computer Inc.', N'Intel Core i5-13600KF 3.5GHz/24MB', 8, N'Black', N'512GB SSD', N'15.6"', 2.2, N'NVIDIA GeForce GTX 1650', N'-', 1, 1, 147, CAST(999.99 AS Decimal(10, 2)))
INSERT [dbo].[laptops] ([laptop_id], [model], [producer], [processor], [ram], [color], [hard_disk_cap], [size], [wt], [video_card], [features], [display_id], [manufacturer_warranty], [num_available], [price]) VALUES (2, N'ZenBook', N'AsusTek Computer Inc.', N'Intel Core i3-12100F 3.3GHz/12MB', 16, N'Silver', N'1TB HDD', N'14.0"', 1.8, N'Intel UHD Graphics', N'Підсвітка рожева', 2, 4, 95, CAST(1499.99 AS Decimal(10, 2)))
INSERT [dbo].[laptops] ([laptop_id], [model], [producer], [processor], [ram], [color], [hard_disk_cap], [size], [wt], [video_card], [features], [display_id], [manufacturer_warranty], [num_available], [price]) VALUES (3, N'MacBook Pro 14 2023', N'Apple Inc.', N'Intel Core i3-12100F 3.3GHz/12MB', 32, N'Space Gray', N'2TB SSD', N'13.3"', 1.3, N'AMD Radeon RX 6700M', N'Мишка у подарунок', 1, 5, 200, CAST(1899.99 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[laptops] OFF
GO
SET IDENTITY_INSERT [dbo].[sales] ON 

INSERT [dbo].[sales] ([sale_id], [date_], [worker_id], [email]) VALUES (93, CAST(N'2023-12-27T19:11:13.773' AS DateTime), 7, N'hokko@gmail.com')
INSERT [dbo].[sales] ([sale_id], [date_], [worker_id], [email]) VALUES (96, CAST(N'2023-12-27T21:41:20.283' AS DateTime), 8, NULL)
INSERT [dbo].[sales] ([sale_id], [date_], [worker_id], [email]) VALUES (97, CAST(N'2023-12-28T12:13:44.893' AS DateTime), 7, NULL)
SET IDENTITY_INSERT [dbo].[sales] OFF
GO
SET IDENTITY_INSERT [dbo].[workers] ON 

INSERT [dbo].[workers] ([worker_id], [surname], [first_name], [email], [phone_number], [admin], [password], [login]) VALUES (7, N'Бурейко', N'Наталія', N'natalli@gmail.com', N'0969085551', 1, N'0000', N'admin1')
INSERT [dbo].[workers] ([worker_id], [surname], [first_name], [email], [phone_number], [admin], [password], [login]) VALUES (8, N'Ліфенцев', N'Ілля', N'lif@gmail.com', N'050978537', 0, N'1111', N'lif1')
INSERT [dbo].[workers] ([worker_id], [surname], [first_name], [email], [phone_number], [admin], [password], [login]) VALUES (11, N'Пчілка', N'Олена', N'ad-gjk@fgv', N'+43777098098', 1, N'12335', N'pchola')
SET IDENTITY_INSERT [dbo].[workers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_WorkerLogin]    Script Date: 06.01.2024 17:51:42 ******/
ALTER TABLE [dbo].[workers] ADD  CONSTRAINT [UC_WorkerLogin] UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[displays] ADD  DEFAULT ('0') FOR [matte]
GO
ALTER TABLE [dbo].[laptops] ADD  DEFAULT (' ') FOR [features]
GO
ALTER TABLE [dbo].[workers] ADD  DEFAULT ('0') FOR [admin]
GO
ALTER TABLE [dbo].[checks]  WITH CHECK ADD FOREIGN KEY([laptop_id])
REFERENCES [dbo].[laptops] ([laptop_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[checks]  WITH CHECK ADD FOREIGN KEY([sale_id])
REFERENCES [dbo].[sales] ([sale_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[laptops]  WITH CHECK ADD FOREIGN KEY([display_id])
REFERENCES [dbo].[displays] ([display_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[clients] ([email])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD FOREIGN KEY([worker_id])
REFERENCES [dbo].[workers] ([worker_id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[checks]  WITH CHECK ADD CHECK  (([num_laptops]>(0)))
GO
ALTER TABLE [dbo].[checks]  WITH CHECK ADD CHECK  (([sum_paid]>(0)))
GO
ALTER TABLE [dbo].[checks]  WITH CHECK ADD CHECK  (([sum_without_discount]>(0)))
GO
ALTER TABLE [dbo].[clients]  WITH CHECK ADD CHECK  (([num_bonuses]>(-1)))
GO
ALTER TABLE [dbo].[laptops]  WITH CHECK ADD CHECK  (([num_available]>=(0)))
GO
ALTER TABLE [dbo].[laptops]  WITH CHECK ADD CHECK  (([price]>(0)))
GO
ALTER TABLE [dbo].[laptops]  WITH CHECK ADD CHECK  (([ram]>(0)))
GO
ALTER TABLE [dbo].[laptops]  WITH CHECK ADD CHECK  (([wt]>(0)))
GO
USE [master]
GO
